<div id="single-comment">
  <h4><%= current_user.username %>:       <%= comment.content %> </h4>
  <% if comment.user == current_user %>
    <p> <%= link_to "delete comment", project_task_comment_path(@project, @task, comment), method: :delete %> </p>
  <% end %>
</div>
