<%= form_for [@project, @task, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "form-control col-lg-4", placeholder: "Add comment here." %>
  </div>
  <div class="actions">
    <%= f.submit "Leave Comment" %>
  </div>
<% end %>