<h2>Welcome to <%= project.title %> project.<h2>
<h2>There are currently <%= project.users.count %> project members.</h2>
<h2>There are currently <%= project.tasks.count %> tasks in this project.</h2>
<% if project.tasks.count == 0 %>
  <p><%= link_to "Click Here", new_project_task_path(project) %> to create a new task.</p>
<% end %>