<h1>Project Info</h1>
<%= link_to "Home", root_path %>
<%= render partial: 'project', locals: {project: @project} %>

<% if @project.project_manager_id == current_user.id %>
  <%= link_to "Edit Project", edit_project_path(@project) %>
<% end %>